<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>おまかせスケジューラ</title>
</head>
<body>
  <% if @authorized %>
    <form action="/add_event_by_nlp" class = "input-area" method="POST">
      <textarea name="nlp_input" class="plan-input" placeholder="予定を入力してください"></textarea>
      <button type="submit" class = "add-btn">予定を追加する</button>
    </form>
  <% else %>
    <p>Googleアカウントを認証してください。デプロイできてるか確認！</p>
    <a href="/auth">Googleでログイン</a>
  <% end %>
</body>
</html>
