<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>おまかせスケジューラ</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header class="header">
    <div class="header-left">
			<img src="/img/logo.png" alt="Logo" class="logo">
      <span class="site-title">おまかせスケジューラ</span>
    </div>
		<% if @authorized %>
			<div class="header-right">
				<a href="/logout" class="logout-link">Log Out</a>
				<button class="create-btn">予定を作成</button>
				<a href="/schedule">
          <img class="profile-image" src="<%= @user.profile_image_url %>" alt="User Image">
        </a>
			</div>
		<% end %>
  </header>

  <main class="main-content">
    <%= yield %>
  </main>
</body>
</html>
