<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8" />
  <title>おまかせスケジューラ</title>
  <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
  <header class="header">
    <div class="header-left">
      <a href="/">
        <img src="/img/logo.png" alt="Logo" class="logo">
        <span class="site-title">おまかせスケジューラ</span>
      </a>
    </div>
		<% if @authorized %>
			<div class="header-right">
				<a href="/logout" class="logout-link">Log Out</a>
        <a href="/reserved_words"class="create-reserve-btn">予約語を設定</a>
        <a href="/"class="create-btn">予定を作成</a>
        <a href="https://calendar.google.com/calendar/u/0/r">
          <img class="profile-image" src="/img/carender.png" alt="carelendar">
        </a>
				<a href="/schedule">
          <img class="profile-image" src="<%= @user.profile_image_url %>" alt="User Image">
        </a>
			</div>
		<% end %>
  </header>

  <main class="main-content">
    <%= yield %>
  </main>
</body>
</html>
