<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>おまかせスケジューラ</title>
</head>
<body>
  <a href="/auth" class = "">
  <div class = "login-area">
    <img src="https://upload.wikimedia.org/wikipedia/commons/c/c1/Google_%22G%22_logo.svg" alt="Logo" class="logo">
      Googleアカウントでログイン
  </div>
  </a>
</body>
</html>