<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>おまかせスケジューラ - 結果</title>
</head>
<body>
  <h1>おまかせスケジューラ</h1>

  <p><%= @message %></p>

  <a href="/">トップへ戻る</a>
</body>
</html>
